body{
    font-family: Ubuntu;
}

svg{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
.button{
    margin: 0.5rem;
    padding: 1rem;
    background-color:#0075ff;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    max-width: 12rem;
}
.button:hover{
    background-color:#62a8f8;
}
.menu{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
p{
    width: 100%;
    margin: 0;
}
input{
    margin: 0.5rem 0;
}
.calc{
    padding: 2.0rem;
    display: flex;
    flex-wrap: wrap;
}

.tree{
    position: absolute;
    top: 100px;
    left: 100px;
}

.main{
    position: absolute;
    top: 100px;
    left: 200px;
}

.sub_main{
    position: absolute;
    top: 50px;
    left: 100px;
}

.result{
    position: absolute;
    top: 100px;
    left: 500px;
}

.back{
    position: absolute;
    top: 10px;
    left: 10px;
}

.tree   { z-index: 100; }
.back   { z-index: 10; }

/*.recomendation {
	overflow: hidden;
	position: relative;
}*/

.recomendation.hide:after{
	content: "";
	display: block;
	height: 1000px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
}
